@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/media-queries' as *;
@use '../abstracts/mixins' as *;


.pages {
  background-color: $grey-200;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: px_to_rem(16px);
  padding: px_to_rem(32px);
  width: 100%;

  &__content {
    @include flex-column;
    max-width: px_to_rem(720px);
    gap: px_to_rem(8px);
  }

  &__title {
    font-size: px_to_rem(24px);
    font-family: $font-one;
    font-weight: 500;
    line-height: 1.3;
    color: $white;
    margin-bottom: px_to_rem(8px);
  }

  &__description {
    font-size: px_to_rem(16px);
    font-family: $font-one;
    line-height: 1.6;
    color: $grey-100;
    margin-bottom: px_to_rem(20px);
  }

  &__category {
    font-size: px_to_rem(14px);
    font-family: $font-one;
    text-transform: lowercase;
    color: $grey-100;
  }

  &_image {
    flex: 0 0 px_to_rem(320px);
    height: px_to_rem(180px);
    border-radius: px_to_rem(6px);
    overflow: hidden;
    align-self: flex-start;

    &-media {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}